* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}
/* Header section start */
.header-row {
}
.logo {
}
.navbar {
}
.navbar ul {
}
.navbar ul li {
}
.navbar ul li a {
}
/* Header section end */
